@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
  margin: 0;
}

.mdxeditor-toolbar {
  @apply rounded-none !important;
}

.mdxeditor {
  @apply border border-gray-200 rounded-md overflow-hidden flex flex-col-reverse;
}

.markdown {
  @apply font-sans;
}

.markdown a {
  @apply text-blue-500 underline;
}

.bg-gray-400-blur {
  background-color: rgba(229, 231, 235, 0.6);
}

.btn-ghost.btn-active {
  @apply text-white bg-indigo-600;
}

.symbols-filled {
  font-variation-settings: 'FILL' 1;
}